:root {
    --game-bg: #323437;
    --game-yellow: #ffc107;
}

body {
    background-color: var(--game-bg);
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    height: 15vh;
}

.game-container {
    height: 85vh;
}

.game {
    width: 100%;
    margin-top: -10%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-input {
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.game-input:focus {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-game {
    background-color: var(--game-yellow);
    border-color: var(--game-yellow);
    color: #000;
    transition: all 0.3s ease;
}

.btn-game:hover,
.btn-game:focus {
    background-color: #ffb300;
    border-color: #ffb300;
    color: #000;
    transform: translateY(-2px);
    box-shadow: 0 6px 5px rgba(255, 193, 7, 0.4);
}

.game-section {
    margin-top: -20%;
}

#sentence {
    white-space: pre-wrap;
    color: #646669;
    text-align: start;
    font-size: 2.5rem;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
    overflow: hidden;
    display: block;
}

.correct {
    color: #ededed;
}

.incorrect {
    color: #FF4C4C;
}

.current {
    position: relative;
    color: #646669;
}

.current:first-child::before {
    left: 0;
    /* reset caret to align with new padding */
}

.current::before {
    content: "";
    position: absolute;
    left: -2px;
    /* slightly before the letter */
    top: 0;
    height: 1em;
    width: 2px;
    background-color: #FFD700;
    /* caret color */
    animation: blink 1s ease-in-out infinite;
    /* smooth fade */
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.fade-in {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
    /* start invisible */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}


@media screen and (max-width: 768px) {
    body {
        height: 90vh;
    }

    .navbar {
        height: 10vh;
    }

    .game-container {
        height: 80vh;
    }

    .navbar img {
        height: 60px;
        width: auto;
    }

    .game-input {
        width: 100%;
        max-width: none;
    }

    #sentence {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .game-section {
        margin-top: -10%;
    }

    #progress {
        font-size: 0.8rem;
    }

}